
.open {
    cursor:pointer;
    color:#fff;
}
#pop-up {
    display: none;
}
.overlay {
    display: none;
}
#pop-up:checked + .overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
}
.window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    max-width: 360px;
    padding: 20px;
    height: 300px;
    background-color: #fff;
    border-radius: 4px;
    align-items: center;
    transform: translate(-50%, -50%);
    text-align: center;

}
.window a {
    text-align: center;
}
.close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor:pointer;
}
.button {

    background-color: aqua;
    width: fit-content;
    padding:5px;
    border-radius: 20px;
    border:4px;
    margin-top: 4px;
    text-align: center;
}
.button:hover {
    background-color:#58D3F7;
    color:#58D3F7;
    
}
.open:hover {
    color:greenyellow;
}
.button2 {
    color:#F5ECCE;
    text-decoration: none;
    

}