{% extends "layout.html" %}<!--すべてのページにcss-->
{% block content %}
    <table border="1">
        <tr>
            <th>id</th>
            <th>単語</th>
            <th>原文</th>
            <th>要約文</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
        {% for todo in todos %}
            <tr>
                <td>{{todo.id}}</td>
                <td>{{todo.phrase}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.summary}}</td>
                <!--<td><a href="/detail/{{todo.id}}">詳細</a></td>-->
                <td><a href="/update/{{todo.id}}">更新</a></td>
                <td><a href="/delete/{{todo.id}}">削除</a></td>
            </tr>
        {% endfor %}

    </table>

    <div class="button">
    <label class="open" for="pop-up">Todoを追加する</label></div>
    <input type="checkbox" id="pop-up"><!--チェックボックスにチェックついているようなものでチェック付けたら見える-->
    <div class="overlay">
	    <div class="window">
		    <label class="close" for="pop-up">閉じる</label>
		    <h4>確認</h4>
		    <p>表に記録を追加しますか？</p>
            <div class="button"><a href="/create" class="button2">追加する</a></div>
	    </div>
    </div>


{% endblock %}