<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/{{todo.id}}" method="post">
        <input type="text" name="assign" placeholder="担当者" value="{{todo.assign}}" required>
        <input type="text" name="title" placeholder="Todoのタイトル"  value="{{todo.title}}" required>
        <input type="text" name="memo" placeholder="メモ" value="{{todo.memo}}" required>
        <input type="submit" value="更新">
    </form>
    <a href="{{url_for('index')}}">戻る</a>
</body>
</html>
